.App {
  text-align: center;
}
h3{
  margin:0;
  margin-bottom: 1em;
}

.searchBar{
  background-color: blue;
  padding: 2em;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.flight-card{
  width:90%;
  margin: 1em auto;
  background-color: rgb(209, 209, 209);
  border-radius: 1em;
  list-style: none;
  padding: 2em;
}

.inner-card{
  display: flex;
  justify-content: space-around;
  text-align: left;
}

button{
  text-transform:uppercase;
}